<%- include('../partials/header') %>
<link rel="stylesheet" href="mystyle.css">
<section id="show-book">
    <div>Title: </div>
    <div><%= book.title %></div>
    <div>Release Year: </div>
    <div><%= book.releaseYear %></div>
   <div>Author: </div>
   <div><%= book.author %></div>
</section>

<br><br>
<h2>Reviews</h2>
<% if (user) { %>
  <form id="add-review-form" method="POST" action="/books/<%= book._id %>/reviews">
     <label>Review:</label> 
     <textarea name="content"></textarea>
     <label>Rating:</label>
     <select name="rating">
         <option value="1">1</option>
         <option value="2">2</option>
         <option value="3">3</option>
         <option value="4">4</option>
         <option value="5">5</option>
     </select>
     <input class="add-review" type="submit" value="Add Rdview">
  </form>
  <% } %>
  <% if (book.reviews.length) { %>
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Review</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <% let total = 0 %>
        <% book.reviews.forEach(function(r) { %>
            <% total += r.rating %>   
            <tr>
                <td class="review-user"><%= r.userName %></td>
                <td><%= r.createdAt.toLocaleDateString() %></td>
                <td><%= r.content %></td>
                <td><%= r.rating %></td>
                <td>
                    <% if (user && user._id.equals(r.user)) { %>
                        <div class="buttons">
                        <div class="update">
                        <form action="/reviews/<%= r._id %>?_method=PUT" method="POST">
                            <input name="text">
                            <button id="update-button" type="submit">Update</button>
                        </form>
                    </div>

                        <div class="remove">
                        <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                            <button id="remove-button" type="submit">Remove</button>
                        </form>
                    </div>
                </div>
                    <% } %>
                </td>
            </tr>
            <% }) %>
            <tr>
                <td colspan="3"></td>
                
            </tr>
        </tbody>
    </table>
    <% } else { %>
        <h5>No Reviews Yet</h5>
    <% } %>
    <%- include('../partials/footer') %>